
<section class="hero is-fullheight" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/24/Mount_Ishizuchi.jpg')"><!--修正-->
   <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,300,700' rel='stylesheet' type='text/css'>
<div class="main-content">
  <h1>What's</h1>
  <span class="bounced-word anim_1">on your mind ?</span>
  <span class="bounced-word anim_2">on your mind ?</span>
  <span class="bounced-word anim_3">on your mind ?</span>
  <span class="bounced-word anim_4">on your mind ?</span>
</div>
  <div class="hero-body">

  
    <div class="container">
      <h1 class="title">
       
      </h1>
      
    </div>
  </div>
</section>