// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .hero-1 {
//   @extend .hero !optional;
//   background-size: cover;
//   background-position: center;
// }
// @import "compass/css3";

// Settings
$color1 : #e777d5;
$ral : "Raleway";
$titi : "Titillium Web";

body {
  background: white;
  color:white;
}

.main-content {
  height:100vh;
  position: relative;
  text-align:center;
  width:100%;
  h1 {
    animation: 2s explode_title infinite;
    font-family:$ral;
    font-size:40px;
    font-weight:400;
    position:absolute;
    text-transform: uppercase;
    top:150px;
    transform:translate3d(0,0,0);
    width:100%;
  }
  .bounced-word {
    color:$color1;
    display:block;
    font-family:$titi;
    font-size:22px;
    font-weight:600;
    position:absolute;
    text-align:center;
    text-transform: uppercase;
    top:230px;
    transform:translate3d(0,-200px,0);
    width:100%;
  }
  .anim_1 {
    animation: 2s bounced-word infinite, 8s hide infinite;
  }
  .anim_2 {
    animation: 2s bounced-word infinite, 8s hidetwo infinite;
  }
  .anim_3 {
    animation: 2s bounced-word infinite, 8s hidethree infinite;
  }
  .anim_4 {
    animation: 2s bounced-word infinite, 8s hidefour infinite;
  }
}


// Title animation
@keyframes explode_title {
  10% {
    transform:scaleY(0.2);
    transform-origin:0 bottom 0;
  }
  20% {
    transform:scaleY(1.3);
    transform-origin:0 bottom 0;
  }
  30% {
    transform:scaleY(0.7);
    transform-origin:0 bottom 0;
  }
  40% {
    transform:scaleY(1);
    transform-origin:0 bottom 0;
  }
  100% {
    transform:scaleY(1);
    transform-origin:0 bottom 0;
  }
}
// Span Animation
@keyframes bounced-word {
  8% {
    transform:translate3d(0,-45px,0) scaleY(0.4);
    transform-origin:left bottom 0;
  }
  25% {
    transform:translate3d(0,-110px,0) scaleY(1.4);
  }
  40% {
    transform:translate3d(0,0,0) scaleY(0.6);
    transform-origin:left bottom 0;
  }
  50% {
    transform:translate3d(0,0,0) scaleY(1.2);
    transform-origin:left bottom 0;
  }
  60% {
    transform:translate3d(0,0,0) scaleY(1);
    transform-origin:left bottom 0;
  }
  80% {
    opacity:1;
    transform:translate3d(0,0,0);
  }
  100% {
    opacity:0;
    transform:translate3d(0,50px,0);
  }
}

// Hide sentences by time
@keyframes hide {
  0%, 24% {
    visibility:visible;
  }
  25%, 50% {
    visibility:hidden;
  }
  50%, 75% {
    visibility:hidden;
  }
  75%, 100% {
    visibility:hidden;
  }
}
@keyframes hidetwo {
  0%, 25% {
    visibility:hidden;
  }
  26%, 49% {
    visibility:visible;
  }
  50%, 75% {
    visibility:hidden;
  }
  75%, 100% {
    visibility:hidden;
  }
}
@keyframes hidethree {
  0%, 25% {
    visibility:hidden;
  }
  25%, 50% {
    visibility:hidden;
  }
  51%, 74% {
    visibility:visible;
  }
  75%, 100% {
    visibility:hidden;
  }
}

@keyframes hidefour {
  0%, 25% {
    visibility:hidden;
  }
  25%, 50% {
    visibility:hidden;
  }
  50%, 75% {
    visibility:hidden;
  }
  76%, 100% {
    visibility:visible;
  }
}